# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/

# App Specific
*.xlsx
*.pdf
.system_generated/
brain/
logs/
click_feedback/
video_records/
